@use "../abstracts/functions" as fx;
@use "sass:color";

.footer {
  --_footer-Padding: var(--footer-Padding, 1rem 0);

  padding: var(--_footer-Padding);
  color: fx.getOnColor(grey, 900);
  background-color: fx.getColor(grey, 900);
}

.footer__project-logo {
  font-size: 1.5rem;
}

.footer__project-icon {
  height: 3rem;
  width: 3rem;
}

.footer__project-name {
  margin-left: 0.5rem;
  font-family: "Fjalla One", sans-serif;
}

.footer__links {
  --_footer__links-FontSize: var(--footer__links-FontSize, 2.5rem);
  --_footer__links-Display: var(--footer__links-Display, flex);
  --_footer__links-Gap: var(--footer__links-Gap, 0.625rem);
  --_footer__links-AlignItems: var(--footer__links-AlignItems, center);
  --_footer__links-MarginLeft: var(--footer__links-MarginLeft, auto);

  font-size: var(--_footer__links-FontSize);
  display: var(--_footer__links-Display);
  gap: var(--_footer__links-Gap);
  align-items: var(--_footer__links-AlignItems);
  margin-left: var(--_footer__links-MarginLeft);
}

.footer__link-item {
  --_footer__link-BorderRadius: var(--footer__link-BorderRadius, 1em);
  --_footer__link-BoxShadow: #{fx.getToken(ring-shadow)};

  --icon-Height: 1em;
  --icon-Width: 1em;

  display: block;
  text-decoration: none;
  color: fx.getPrimaryColor();
  border-radius: var(--_footer__link-BorderRadius);
  transition: #{fx.getToken(transition)}, #{fx.getToken(transition-super-slow)};
  transition-property: box-shadow, color;

  & i {
    color: fx.getOnColor(grey, 900);
  }

  &:hover {
   box-shadow: var(--_footer__link-BoxShadow);
  }

  &:focus {
    outline: #{fx.getToken(outline)};
  }
}