@use "../abstracts/functions" as fx;

.header {
  --_header-ZIndex: var(--header-ZIndex, 20);
  --_header-Padding: var(--footer-Padding, 1rem 0);

  opacity: 0;

  z-index: var(--_header-ZIndex);
  padding: var(--_header-Padding);
  position: fixed;
  top: 0;
  width: 100%;
  color: fx.getOnColor(grey, 600);
  background-color: var(--dral-transparent, rgba(55, 65, 81, 0.6));
  backdrop-filter: blur(5px);
}

.header__project-logo {
  font-size: 1.5rem;
}

.header__project-icon {
  height: 3rem;
  width: 3rem;
}

.header__project-name {
  margin-left: 0.5rem;
  font-family: "Fjalla One", sans-serif;
}