@use "../abstracts/functions" as fx;

.dral-card {
  --_dral_card-Color: var(--dral-card-Color, #{fx.getOnColor(grey, 700)});
  --_dral-card-BackgroundColor: var(--dral-card-BackgroundColor, #{fx.getColor(grey, 700)});
  --_dral-card-BorderRadius: var(--dral-card-BorderRadius, 0.5rem 0.5rem);
  --_dral-card-BoxShadow: var(--dral-card-BoxShadow, inset 0 1px 0 0 #{fx.getColor(grey, 600)});
  --_dral-card-MinHeight: var(--dral-card-MinHeight, 1rem);
  --_dral-card-MinWidth: var(--dral-card-MinWidth, 16rem);
  --_dral-card-Padding: var(--dral-card-Padding, 1.5rem);

  color: var(--_dral_card-Color);
  background-color: var(--_dral-card-BackgroundColor);
  border-radius: var(--_dral-card-BorderRadius);
  box-shadow: var(--_dral-card-BoxShadow);
  padding: var(--_dral-card-Padding);
  min-width: var(--_dral-card-MinWidth);
  min-height: var(--_dral-card-MinHeight);

  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;

  &:hover {
    cursor: pointer;

    --_dral-card-BoxShadow--hover:
            inset 0 1px 0 0 #{fx.getColor(grey, 600)},
            0 2px 3px #{fx.getColor(grey, 900)},
            0 8px 8px #{fx.getColor(grey, 900)};

    --_dral-card-BoxShadow: var(--dral-card-BoxShadow--hover, var(--_dral-card-BoxShadow--hover));
  }
}