@use "../abstracts/functions" as fx;
@use "sass:color";

.modal {
  --_modal-ZIndex: var(--modal-ZIndex, 10);
  --_modal-Display: var(--modal-Display, flex);
  --_modal-BackgroundColor: var(--modal-BackgroundColor, #{rgba(fx.map-get-color-strict(grey, 800, 'light'), 0.9)});

  z-index: var(--_modal-ZIndex);
  display: var(--_modal-Display);
  background-color: var(--_modal-BackgroundColor);

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  transition: #{fx.getToken(transition)};
  transition-property: opacity;
}

.modal-content {
  --_modal-content-BackgroundColor: var(--modal-content-BackgroundColor, #{fx.getColor(white, 800)});
  --_modal-content-Color: var(--modal-content-Color, #{fx.getOnColor(white, 800)});
  --_modal-content-Padding: var(--modal-content-Padding, 0.25rem 1.25rem 1.25rem 1.25rem);
  --_modal-content-Border: var(--modal-content-Border, 1px solid #{fx.getColor(gray, 900)});

  background-color: var(--_modal-content-BackgroundColor);
  color: var(--_modal-content-Color);
  padding: var(--_modal-content-Padding);
  margin: auto;
  border: var(--_modal-content-Border);

  width: 80%;
}


/*
  splide - override default styles
*/
.modal-content__splide {
  min-height: 10rem;
}


