/* Color Defaults */
$color-primary: rgb(242, 2, 242)!default;
$color-secondary: rgb(0, 255, 255)!default;

/* Container */
$container-width: 75rem!default;
$container-padding-horizontal: 2rem!default;