@use "../../abstracts/functions" as fx;
@use "../../abstracts/mixins" as mixins;

.projects {
  padding: 3rem 0;
  background-color: #{fx.getColor(grey, 800)};
}

.projects__container {
  @include mixins.make-container();
}

.projects__heading {
  opacity: 0;
}

.projects__timeline-indication {
  margin: 1.5rem 0;
  color: fx.getOnColor(grey, 800);
}