@use "../../abstracts/functions" as fx;
@use "../../abstracts/mixins" as mixins;

.projects {
  padding: 3rem 0;
  background-color: #{fx.getColor(grey, 800)};
}

.projects__container {
  @include mixins.make-container();
}

.projects__timeline {
  --_projects__timeline-Width: var(--projects__timeline-Width, 2px);

  position: absolute;
  height: 100%;
  width: var(--_projects__timeline-Width);
  margin-left: calc(1rem - calc(var(--_projects__timeline-Width) / 2));
  background-color: fx.getColor(primary, 800);
}

.projects__timeline-indicator {
  margin: 1.5rem 0 1.5rem 0.5rem;
  color: fx.getOnColor(grey, 800);

  &::before {
    --_projects__timeline-indicator-Diameter: var(--projects__timeline-indicator-Diameter, 1rem);

    content: "";
    display: inline-block;
    width: var(--_projects__timeline-indicator-Diameter);
    height: var(--_projects__timeline-indicator-Diameter);
    margin-right: 0.75rem;
    border-radius: var(--_projects__timeline-indicator-Diameter);
    background-color: fx.getColor(primary, 800);
  }
}

.project__card {
  margin-left: 8rem;
}