@use "../abstracts/functions" as fx;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --lad-bg-color: #{fx.getColor(grey, 800)};
  --lad-on-bg-color: #{fx.getOnColor(grey, 800)};
}

html,
body {
  height: 100%;
}

body,
button,
input,
optgroup,
select,
textarea{
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: var(--lad-bg-color);
  color: var(--lad-on-bg-color);
}