@use "../abstracts/functions" as fx;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dral-bg-color: #{fx.getColor(grey, 800)};
  --dral-on-bg-color: #{fx.getOnColor(grey, 800)};
  --dral-transparent: rgba(55, 65, 81, 0.6);
}


stop {
  transition: #{fx.getToken(transition-super-slow)};
}

html,
body {
  height: 100%;
}

body,
button,
input,
optgroup,
select,
textarea{
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: var(--dral-bg-color);
  color: var(--dral-on-bg-color);
}

/* alpine.js specific */
// see -> https://alpinejs.dev/directives/cloak
[x-cloak] { display: none !important; }